@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-seriff";
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  position: relative;
}

header {
  border: 1px solid black;
  margin-top: 50px;
  font-size: 50px;
  width: fit-content;
  font-weight: 100;
  padding: 15px;
}

.board-container {
  height: 468px;
  width: 468px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  gap: 2px;

  counter-reset: bottom-row left-column;
}

.square {
  height: 45px;
  width: 45px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  user-select: none;
}

.square-ship {
  background-color: blueviolet;
}

.square-invalid {
  background-color: black;
}

.square-hit {
  background-color: red;
}
.square-row {
  display: flex;
  gap: 2px;
  position: relative;
  display: flex;

  align-items: center;
}

.square-row::before {
  counter-increment: left-column;
  position: absolute;
  left: -20px;
  font-size: 12px;
  content: counter(left-column);
}

.square-row:last-child .square::after {
  position: absolute;
  counter-increment: bottom-row;
  top: 50px;
  font-size: 12px;
  content: counter(bottom-row, upper-alpha);
}

.square-miss {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  user-select: none;
}

.board-wrapper {
  display: flex;
  gap: 100px;
  transition: all 0.3s;
}

.shift-y {
  transform: translateY(-50px);
}

.axis-flip {
  font-size: 36px;
  font-weight: 200;
  padding: 0px 24px;
  border: 1px black solid;
  cursor: pointer;
}

.axis-flip:active {
  font-weight: bold;
}

.start-button {
  font-size: 36px;
  font-weight: 200;
  padding: 0px 24px;
  border: 1px black solid;
  cursor: pointer;
}
